@require 'variables'

.tsee-frame
  position: fixed
  width: 90%
  height: 90%
  top: 5%
  left: 5%
  border-radius: $border-radius
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3)

.tsee-frame .tsee-main
  border-radius: $border-radius

.tsee-drag-handle
  cursor: move

.tsee-resize-handle
  position: absolute
  display: block
  width: $margin-lg
  height: $margin-lg
  bottom: 0
  right: 0
  cursor: nwse-resize
  z-index: 100


