@require 'variables'

.tsee-main
  width: 100%
  height: 100%
  color: white
  font-size: $font-size
  line-height: $line-height
  background: rgba(60, 60, 60, 0.5)
  box-sizing: border-box

  *, *:before, *:after
    box-sizing: inherit
    margin: 0
    padding: 0


  > header
    position: relative
    height: $header-height
    padding: $margin-base
    z-index: 2


  .tsee-entity-graph
    position: absolute
    height: 100%
    width: 50%
    top: 0
    left: 0
    padding: $header-height $margin-base $margin-base

    .vis-network
      border-radius: $border-radius
      box-shadow: 0 ($margin-base / 4) ($margin-base / 2) rgba(0, 0, 0, 0.4) inset
      background: rgba(255, 255, 255, 0.3)


  .tsee-open-entities
    position: absolute
    height: 100%
    width: 50%
    top: 0
    right: 0
    padding: $header-height $margin-base $margin-base 0

    ul
      height: 100%
      list-style: none
      overflow-y: scroll
      overflow-x: hidden
      border-radius: $border-radius

    li
      padding: 0
      margin: 0


  .tsee-entity-details
    position: relative
    padding: $margin-base
    background: rgba(60, 60, 60, 0.3)
    border-top: 1px solid rgba(255, 255, 255, 0.1)
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)

    .tsee-close-button
      display: inline-block
      padding: 0 0.6em 0 0.1em
      line-height: 1.2
      font-size: 1.2em
      font-weight: bold
      color: inherit
      text-decoration: none


  .CodeMirror
    font-family: "Source Code Pro", source-code-pro, Menlo, "Ubuntu Mono", Consolas, monospace
    font-size: $font-size
    line-height: $line-height
