.CodeMirror {
    height: auto;
    font-family: "Source Code Pro", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    line-height: 1.5;
    font-size: 16px;
}

.CodeMirror .CodeMirror-scroll {
    overflow: hidden !important;
}
